<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">

/* colors
    --off-white: #f9f9f9;
    --black: #000000;
    --red: #ca2430;
    --gold: #FFB612; 
*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    border: 5px solid #FFB612;
    padding: 15px;
    font-family: 'Notable', sans-serif;
    font-size: 3em;
    color: #FFB612;
    background-color: #ca2430 ;
}

#runningMahomes {
    display: none;
}

#jumpingMahomes {
    display: none;
}

#duckingMahomes {
    display: none;
}

#shuttleCock {
    display: none;
}

#westernAuto {
    display: none;
}

canvas {
    border: solid 2px #000000;
}

.lower-content {
    display: flex;
}

#how-to-play {
    color: #FFB612;
    font-family: 'Notable', sans-serif;
    background-color: #ca2430;
    border: 2px solid #FFB612;
    margin: 20px;
    padding: 10px 30px;
    font-size: 15px;
}

#how-to-play:hover {
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
}

p {
    border: solid 2px #000000;
    text-align: center;
    padding: 12px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 35px;
        text-align: center;
    }
    #game-box {
        widows: 70vh;
        height: 45vh;
    }
}