<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">

/* colors
    --off-white: #f9f9df;
    --black: #000000;
    --red: #ca2430;
    --gold: #FFB612; 
*/


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(255,182,18,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mvp-view {
    margin-top: 100px;
}

h1 {
    margin: 20px;
    border: 5px solid #FFB612;
    padding: 15px;
    font-family: 'Notable', sans-serif;
    font-size: 3em;
    color: #FFB612;
    background-color: #ca2430 ;
}

#runningMahomes {
    display: none;
}

#jumpingMahomes {
    display: none;
}

#duckingMahomes {
    display: none;
}

#shuttleCock {
    display: none;
}

#westernAuto {
    display: none;
}

canvas {
    border: solid 2px #000000;
    background-image: url(https://i.imgur.com/1CRFNxG.png);
    background-size: cover;
}

.lower-content {
    display: flex;
}

button {
    color: #FFB612;
    font-family: 'Notable', sans-serif;
    background-color: #ca2430;
    border: 2px solid #FFB612;
    margin: 20px;
    padding: 10px 30px;
    font-size: 15px;
}

button:hover {
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
}

#artistCredit:hover {
    cursor: pointer
}


.images {
    border: 2px solid  #000000;
    margin-top: 25px;
    height: 500px;
    width: 800px;
}

h2 {
    color: #ca2430;
}

p {
    max-width: 550px;
    color: #000000;
    background-color: rgba(249, 249, 223 ,0.5);
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 12px;
    font-size: 15px;
    font-family: 'Notable', sans-serif;
    text-align: center;
}

footer {
    font-size: 12px;
    max-width: 400px;
    justify-content: center;
    text-align: center;
}

#natefarro {
    color: #3f3737;
    text-decoration: none;
    text-justify: ; 
    
}

#natefarror:hover {
    cursor: pointer;
    color: #ca2430;
}

a{
    color: #FFB612;
    text-decoration: none;
}

#gameLink {
    margin: 20px;
}


@media (max-width: 500px) {
    h1 {
        font-size: 35px;
        text-align: center;
    }
    #game-box {
        widows: 70vh;
        height: 45vh;
    }
}